*{
    margin: 0;
    padding: 0;
}

.body{
}

.images{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: rgba(227, 227, 227, 0.685);
    padding: 10px;
}

.info{
    padding: 0px 0px 0px 10vw;
}

.info h2{
    font-size: 30px;
}


.item{
    /* background-color: rgb(235, 235, 235); */
    border-radius: 5px;
    margin: 20px;
    width: 50vw;
    gap: 20px;
    /* display: flex; */
    /* flex-direction: column;
    background-color: gainsboro; */
}

.item h2
{
    margin-top: 10px;
}

.item img{
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 1px rgb(80, 79, 79);
    object-fit: cover;
}

.item .inform{
  display: flex;
  flex-direction: column;
}

.star-rating {
  font-size: 30px;
}

.star {

}

.star.hover {
  color: orange;
}

.pin {
  width: 20px ;
  height: 20px ;
  background-color: #136402;
  border-radius: 12px 12px 0px 12px ;
  position:relative ;
  transform: rotate(45deg);
}
.pin::after {
  content: "" ;
  width: 8px ;
  height: 8px ;
  background: #ffffff ;
  position: absolute ;
  left: 26% ;
  top: 26% ;
  border-radius: 4.5px ;
}

.loca span{
  font-size: 20px;

}

.loca{
    position: relative;
    left: -222px;
    top: 10px;
    display: flex;
    font-size: 16px;
    justify-content: center;
}

.service{
  position: relative;
  top: 25px;
  left: -5px;
  border: 0.5px solid black;
  margin: 10px 5px 5px 5px;
  padding: 2px 5px 2px 5px;
  background-color: #e7e7e7d0;
  border-radius: 5px;
}

.phone{
    position: relative;
    top: 68px;
    left: -247px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: #5AAE34;

}

.rate_us{
  background-color: rgba(221, 221, 221, 0.71);
  display: flex;
  flex-direction: column;
  margin-top: 150px;  
  justify-content: center ;
}

.r_star-rating {
  position: relative;
  bottom: -20px;
  font-size: 50px;
}

.r_star {
  cursor: pointer;
}

.r_star.hover, .r_star.selected {
  color: orange;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}